html {
  box-sizing: border-box;
  height: 100%; }
  @supports (-ms-ime-align: auto) {
    html {
      overflow-x: hidden !important; } }

body {
  min-height: 100%;
  height: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Roboto, sans-serif;
  color: #666666;
  position: relative;
  margin: 0; }

*, *:before, *:after {
  box-sizing: inherit; }

strong {
  font-weight: 500;
  color: #474747; }

.u-hslform__combo-label {
  position: absolute;
  left: 16px;
  top: 10px;
  color: #747183;
  font-size: 14px;
  opacity: 1;
  transform: translateY(0);
  transition: transform 300ms ease-in-out 0ms, opacity 300ms ease-in-out 100ms; }
  @media only screen and (max-width: 360px) {
    .u-hslform__combo-label {
      font-size: 11px;
      left: 11px;
      top: 9px; } }

.u-hslform__combo-field {
  box-shadow: none;
  outline: none;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  width: 100%;
  height: auto;
  border: 1px solid;
  border-color: #e3e2e8;
  border-radius: 2px;
  color: #3e3a51;
  padding: 28px 16px 9px 16px;
  font-size: 18px;
  transition-property: border-color, box-shadow, padding;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out; }
  @media only screen and (max-width: 360px) {
    .u-hslform__combo-field {
      font-size: 15px;
      padding: 21px 11px 7px 11px; } }
  .u-hslform__combo-field::placeholder {
    color: transparent;
    transition: color 300ms linear 100ms; }
  .u-hslform__combo-field:focus {
    border-color: #30c2f2;
    box-shadow: 0 0 2px 0 rgba(48, 194, 242, 0.5); }

.u-hslform__combo {
  position: relative;
  margin-bottom: 16px;
  width: 100%; }
  @media only screen and (max-width: 360px) {
    .u-hslform__combo {
      margin-bottom: 8px; } }
  .u-hslform__combo--is-empty .u-hslform__combo-label {
    transform: translateY(14px);
    opacity: 0;
    pointer-events: none;
    transition: transform 300ms ease-in-out 100ms, opacity 300ms ease-in-out 0ms; }
    @media only screen and (max-width: 360px) {
      .u-hslform__combo--is-empty .u-hslform__combo-label {
        transform: translateY(14px); } }
  .u-hslform__combo--is-empty .u-hslform__combo-field {
    padding: 19px 16px 18px 16px;
    transition-delay: 100ms; }
    @media only screen and (max-width: 360px) {
      .u-hslform__combo--is-empty .u-hslform__combo-field {
        padding: 14px 11px 14px 11px; } }
    .u-hslform__combo--is-empty .u-hslform__combo-field::placeholder {
      color: #adabb7;
      transition: color 300ms linear 0ms; }
